@page
@model LoginInfoViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Tiger Tix Web Interface";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="d-flex justify-content-center" style="margin-top: 30px;">
    @using (Html.BeginForm("Index", "App", FormMethod.Post))
    {
        <p>Welcome to Tiger Tix!</p>
        <p>The best place for a tiger to buy event tickets</p>
        <p>Please Login:</p>
        <div class="row">
            <div class="col-sm">
                <label for="user" class="form-label">Username/Email</label>
            </div>
            <div class="col-md">
                @Html.TextBoxFor(m => m.Email, new {@placeholder = "name@clemson.edu", @id = "user", @class="form-control"})
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="pass" class="form-label">Password</label>
            </div>
            <div class="col-md">
                @Html.TextBoxFor(m => m.Password, new {@placeholder = "Password", @id="pass", @type="password", @class="form-control"})
            </div>
        </div> <br/>
        <div style="@(ViewBag.error ? "display: block" : "display: none")" class="text-danger">The username and password you entered is not correct, please try again <br/></div>
        <input type="submit" value="Login" class="btn btn-primary"/>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateAccount")'">Make New Account</button>
    }
</div>
</body>
</html>