@using Tiger_Tix.Web.Views.Shared
@model UserViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Tiger Tix</title>
    <script>
    function myTix()
    {
        alert("Ticket has not been purchased for this event!")
    }
    $("#Events").change(myTix);
    //http://jsfiddle.net/pD56G/1/
    </script>
</head>
<body>
<div>
    <p>
        <h1>Welcome @Model.Name!</h1>
        <br/>
        You are a @Model.UserRole
    </p>
    <br/>
    @{
        List<EventModel> available = (List<EventModel>)ViewBag.AvailableEvents;
    }
    <p>Available Events Are:</p>
    @Html.ListBox( "Events", available.Select( e => new SelectListItem
    {
        Text = e.ToString()
                
    }))
    
    <details>
        <summary>Test Event</summary>
        <p>Test Event will take place on July 24th, 2022 at 12:00 AM. There are currently 
            60 tickets remaining for this event.</p>
    </details>
    
    <br/>
        <label for="events">Choose an event:
            
        </label>
        <select id="Available_Events_are" name="Available_Events_are">
            <option value=""></option>
            @foreach (var e in available)
            {
                <option value="@e.Id">@e.Name</option>
            }
    </select>
    <br><br>
        <input type="submit" value="Purchase Ticket" />
</div>
</body>
<footer>
    <script>
        $("#Events").change(myTix);
    </script>
</footer>
</html>